
<%=image_tag("about.png")%></br>
<p class="abouttext">I am overjoyed to be where I am today. To have pinpointed what I love to do</br> and be on track to turning it into a career is extremely exciting. </br>Below is a little bit about how I got here.</p></br>

<div class="name_panel">

	<div class="row">
		<div class="col-md-4">
			<%=image_tag("beach.png")%>
			<p class="textcenter padding">Born in South Florida where I was spoiled with sunshine and salt water throughout my childhood, I've always enjoyed anything and everything that gets me outside. During that time, I had a habbit of finding little projects for myself and family furniture that needed my artistic touch (others disagreed). I like to think that was the creative side deciding to take over.</p>
			<%=image_tag("florida.png")%>
		</div>
		<div class="col-md-3">
			<%=image_tag("samford.png")%>
			<p class="textcenter padding">My four years of college were spent at Auburn University. Vastly different and much smaller than my hometown, Auburn still managed to provide perspective and experiences I could've never expected. It was my junior year when I was introduced to HTML, and it was the first time work felt like fun.</p>
			<%=image_tag("alabama.png")%>
		</div>
		<div class="col-md-5">
			<%=image_tag("Atlanta.png")%>
			<p class="textcenter padding">I made the move to Atlanta upon receiving an internship at a restaurant and hospitality PR agency. During my next engagement with a healthcare PR agency, I realized I wanted to be on the other side of the table. Days were filled with research and learning about different companies and the revolutionary ideas they were bringing to life, and I was eager to join the side of creation. Remembering how much I enjoyed coding and learning design, I began to explore my options and couldn't be happier with my decision.</p>
			<%=image_tag("georgia.png")%>
		</div>
	</div>
</div>
	
	





