
<%=image_tag("about.png")%></br>
<p class="abouttext">I am overjoyed to be where I am today. </br>To have pinpointed what I truly enjoy and be on track to turning it into a career is extremely exciting. </br>Below is a little bit about how I got here.</p></br>

<div class="name_panel">
	
	<div class="row">
		<div class="col-md-4">
			<p></p>
			</br>
			<%=image_tag("florida.png")%>
		</div>
		<div class="col-md-4">
			<p class="textcenter">Born in South Florida where I was spoiled with sunshine and salt water throughout my early years, I've always enjoyed anything and everything that gets me outside. Growing up, I always seemed to craft minor projects and find something to paint on, usually followed by some sort of backlash. I like to think that was the creative blossoming inside.</p>
		</div>
		<div class="col-md-4">
				<%=image_tag("beach.png")%>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<%=image_tag("alabama.png")%>
		</div>
		<div class="col-md-4">
			<p class="textcenter">My four years of college were spent at Auburn University. Vastly different and much smaller than my hometown, Auburn still managed to provide perspective and experiences I could've never expected. It was my junior year when I was introduced to HTML, and it was the first time work felt like fun.</p>
		</div>
		<div class="col-md-4">
			<%=image_tag("samford.png")%>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<p></p>
			</br>
			<%=image_tag("georgia.png")%>
		</div>
		<div class="col-md-4">
			<p class="textcenter">I made the move to Atlanta upon receiving an internship at a restaurant and hospitality PR agency. During my next engagement with a healthcare PR agency, I realized I wanted to be on the other side of the table. Days were filled with researching and learning about different companies and the revolutionary ideas they were bringing to life, and I was eager to join the side of creation. Remembering how much I enjoyed coding and learning design, I began to explore options and couldn't be happier with my decision.</p>
		</div>
		<div class="col-md-4">
			<p></p>
			</br>
			</br>
			<%=image_tag("Atlanta.png")%>
		</div>
	</div>


</div>


