
<%= image_tag('projects.png')%>


<div class="name_panel">
  

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-warning">  
      <div class="row">
        <div class="col-md-9">
          <h4>Tapetrack Web App</h4>
        </div>
        <div class="col-md-3">
          <p></p>
         <button type="button" class="btn btn-warning"data-toggle="modal" data-target=".bs-example-modal-lg">+</button>
        </div>
      </div>
      <%= image_tag('tapetracksnap2.png')%>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-warning">
      <div class="row">
        <div class="col-md-9">
          <h4>IHG Mobile App Design</h4>
        </div>
        <div class="col-md-3">
          <p></p>
         <button type="button" class="btn btn-warning"data-toggle="modal" data-target=".bs-example-modal-lg-2">+</button>
        </div>
      </div>
      <%= image_tag('IHG.png')%>
    </div>
  </div>
  <div class="col-md-4">
    <div class="panel panel-warning">
      <div class="row">
        <div class="col-md-9">
          <h4>IHG Mobile App Design</h4>
        </div>
        <div class="col-md-3">
          <p></p>
         <button type="button" class="btn btn-warning"data-toggle="modal" data-target=".bs-example-modal-lg-3">+</button>
        </div>
      </div>
      <%= image_tag('IHG.png')%>
    </div>
  </div>
</div>

<!--   <div class="row">
    <div class="col-md-4">
    <div class="panel panel-warning">  
      <div class="panel-heading">
        Tapetrack Web App
      </div>   
      <%= image_tag('tapetracksnap2.png')%>
    </div>
    
  </div>
  <div class="col-md-3">
    <div class="panel panel-warning">
      <div class="panel-heading">
        Williams-Sonoma Microsite Design
      </div>
      <%= image_tag('WS.png')%>
    </div>
    
  </div>
  <div class="col-md-4">
  </div>
  </div> -->

</div>



<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
          <div class="row">
            <div class="col-md-6">
              <h3>Tapetrack Web Application</h3>
              <p class="padding">My first web application, Tapetrack was inspired by an idea I held on to for a while and finally built the skills to try and create. I wanted to build an app allowing users to create mixtapes for others in the digital space,  and illicit as many flashbacks to the 90's as possible. I plan to keep playing with and adding to this project for fun and to continue building my skills. </p></br>
              <div>
                <p class="padding"><%= image_tag("tools.png")%></p>
                <ul>
                  <li>Ruby on Rails</li>
                  <li>Bootstrap</li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
               <a href="https://www.youtube.com/watch?v=Q4B4C-4tkYo" target="_blank">Demo</a>
             </div>
          </div>
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg-2" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      hi
    </div>
  </div>
</div>

<div class="modal fade bs-example-modal-lg-3" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">

      <div class="row">
        <div class="col-md-6">
          <h3>CardFeed</h3>
          <p class="padding">An independent project, CardFeed began as an idea designed and tailored to a single classmate's interests and needs. I later revisited the idea to expand user testing to others and elaborate on the initial product. After four rounds of user testing and three primary iterations, CardFeed's final prototype features the ability to filter content related to user interest and to move through the entire app with simple swipe motions.</p>
        </div>
        <div class="col-md-6">
        </div>
      </div></br>

      <h3>Process</h4></br>
      
      <div class="row padding">
        <div class="col-md-4">
          <%=image_tag("interview.png")%>
          <h4>User Interview</h4>
          <p>The initial user interview pinpointed areas the user felt could be easier or served more efficiently. Together we decided an path for my design to pursue.</p>
        </div>
        <div class="col-md-3">
          <%=image_tag("sketching.png")%>
          <h4>Sketch</h4>
          <p>After sketching out simple designs to demonstrate functionality, I met with the user to get feedback and then implemented suggestions to create the first prototype. </p>
        </div>
        <div class="col-md-5">
          <%=image_tag("usertests.png")%>
          <h4>Prototyping + Research</h4>
          <p>Using the first prototype, I expanded user testing by sketching out additional ideas and observing user preference and interaction beahvior. I repeated this step after the next three iterations to reach the final prototype.</p>
        </div>
      </div></br>

      <div class="row">
        <div class="col-md-6">
          <h4>Product Goals</h4>
          <ul>
            <li>The ability to scroll through interesting content and consume no matter the user's current activity.</li>
            <li>Easily consume and share content.</li>
            <li>Like or dislike content, tailoring future feed results.</li>
            <li> Simple swipe motions allowing quick consumption, sharing and saving.</li>
          </ul>
        </div>
        <div class="col-md-6">
          <h4>Design Tools</h4>
            <p class="center">Sketch, Axure</p>
        </div>
      </div>

    </div>
  </div>
</div>








